tecnicos-disponibilidade-page {
    ion-list {
        padding-top: 0px !important;
    }
    .accordion {
        margin: 8px 5px 5px 5px;
        font-size: 14px;
        padding: 0px 0px 10px;
        background: #fff;
    }
    .accordion ul {
        list-style:none;
        margin:0;
        padding:0;    
    }
    .accordion li {
        margin:0;
        padding:0;
    }
    .accordion [type=radio], .accordion [type=checkbox] {
        display:none;
    }
    .accordion label {
        display:block;
        font-size:16px;
        line-height:16px;
        //background:#F5F5F5;
        color:#488aff;
        font-weight:600;
        cursor:pointer;
        border-radius: 6px;
        border: 1px solid #BDBDBD;
        text-transform:uppercase;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
    }
    .accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
        background:#488aff;
        color:#FFF;
    }
    .accordion .content {
        padding: 0 0px;
        overflow:hidden;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
    }
    .accordion p {
        color:#333;
        margin:0 0 10px;
    }
    .accordion h3 {
        color:#542437;
        padding:0;
        margin:10px 0;
    }

    .vertical ul li {
        overflow:hidden;
        margin:0 0 3px;
    }
    .vertical ul li label {
        padding:10px;
    }
    .vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
        border-bottom:0;
    }
    .vertical ul li .content {
        height: 0px;
        border-top: 0;
    }
    .vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
        height:197px;
    }
    .first-item {
        margin-top: 2px;
    }
}