mapa-svg-page {
	#svg-map { margin-top: 10%; width: 100%; position:fixed; }
	#svg-map path { fill: #4CAF50; }
	
	#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
	#svg-map a{ text-decoration: none }
	#svg-map a:hover { cursor:pointer; text-decoration:none }
	#svg-map a:hover path{ fill:#808080 !important }
	#svg-map a:hover .circle { fill:#808080 !important; cursor:pointer }
	
	ion-scroll { white-space: nowrap; height: 100%; width: 100%; }
	ion-content { background-color: #607D8B !important; }
}