chamados-antigos-page {
    ion-content {
        background-color: #f4f4f4 !important;
    }

    ion-icon {
        margin-top: -3px;
    }

    ion-icon .cash {
        margin-top: 3px !important;
    }

    .left-margin {
        margin-left: 36px;
    }
}