<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>Indicadores das Filiais</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="modo" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="sla">
        SLA
      </ion-segment-button>

      <ion-segment-button value="spa">
        SPA
      </ion-segment-button>

      <ion-segment-button value="rcd">
        Reincidência
      </ion-segment-button>
      
      <ion-segment-button value="pen">
        Pendência
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="modo">
    <ion-list *ngSwitchCase="'sla'">
      <ion-item *ngFor="let s of sla; let i = index" (click)="telaIndicadoresFilialSLA(s)">
        <ion-icon name='ios-radio-button-on' item-start *ngIf="s.percentual >= metaSLA1" color="secondary"></ion-icon>
        <ion-icon name='ios-radio-button-on' item-start *ngIf="s.percentual >= metaSLA2 && s.percentual < metaSLA1" color="orange"></ion-icon>
        <ion-icon name='ios-radio-button-on' item-start *ngIf="s.percentual < metaSLA2" color="danger"></ion-icon>
        {{ s.nomeFilial }}
        <p>Dentro: {{ s.dentro }} &#8226; Fora: {{ s.fora > 0 ? s.fora : 'Nenhum' }}</p>
        <ion-note item-end>{{ s.percentual }}%</ion-note>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'spa'">
      <canvas #barCanvas></canvas>
    </ion-list>

    <ion-list *ngSwitchCase="'rcd'">
      <ion-item *ngFor="let r of reincidencia; let i = index" (click)="telaIndicadoresFilialReincidencia(r)">
        <ion-icon name='ios-radio-button-on' item-start *ngIf="r.reincidencia <= metaReincidencia2" color="secondary"></ion-icon>
        <ion-icon name='ios-radio-button-on' item-start *ngIf="r.reincidencia >= metaReincidencia2 && r.reincidencia < metaReincidencia1" color="orange"></ion-icon>
        <ion-icon name='ios-radio-button-on' item-start *ngIf="r.reincidencia > metaReincidencia1" color="danger"></ion-icon>
        {{ r.nomeFilial }}
        <ion-note item-end>{{ r.reincidencia }}%</ion-note>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'pen'">
      <ion-item *ngFor="let p of pendencia; let i = index" (click)="telaIndicadoresFilialPendencia(p)">
        <ion-icon name='ios-radio-button-on' item-start *ngIf="p.pendencia <= metaPendencia2" color="secondary"></ion-icon>
        <ion-icon name='ios-radio-button-on' item-start *ngIf="p.pendencia >= metaPendencia2 && p.pendencia < metaPendencia1" color="orange"></ion-icon>
        <ion-icon name='ios-radio-button-on' item-start *ngIf="p.pendencia > metaPendencia1" color="danger"></ion-icon>
        {{ p.nomeFilial }}
        <ion-note item-end>{{ p.pendencia }}%</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>