reincidencia-filial-page {
  ion-content {
    background-color: #f4f4f4 !important;
  } 

  ion-spinner {
    text-align: center;
    width: 100%;
    height: 28px;
    stroke: #444;
    fill: #222;
    margin-bottom: 15px;
  }
}