resultado-geral-page {
    ion-content {
        background-color: #f4f4f4 !important;
    } 

    .hide {
        display: inline;
    }

    .hide {
        display: none;
    }

    ion-spinner {
        text-align: center;
        width: 100%;
        height: 28px;
        stroke: #444;
        fill: #222;
        margin-bottom: 15px;
    }

    span {
        font-size: 14px;
        float: right;
    }
}