status-filiais-page {
	#svg-map { width: 130%; position: fixed; left: 50%; transform: translateX(-50%);}
	#svg-map path { fill: #4CAF50; }
	
	#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
	#svg-map a{ text-decoration: none }
	#svg-map a:hover { cursor:pointer; text-decoration:none }
	#svg-map a:hover path{ fill:#808080 !important }
	#svg-map a:hover .circle { fill:#808080 !important; cursor:pointer }
	
	ion-scroll { white-space: nowrap; margin-top: 0px; overflow-y: scroll; display: block; }
	ion-content { background-color: #607D8B !important; }
	svg { margin-top: -15px !important; }
	.small-text { font-size: 14pt !important; }
}