ion-list {
  padding-top: 4px !important;
}

.user-name {
  color: silver;
}

.font-green {
  color: #32db64 !important;
}

.font-red {
  color: #D32F2F !important;
}

.font-orange {
  color: #FF9800;
}