disponibilidade-regioes-page {
    ion-content {
        background-color: #f4f4f4 !important;
    }

    img {
        width: 600px;
        margin: 0 auto;
    }

    .ion-item-compact {
        margin-top: -15px !important;
    }
}